html, body{
    height: 100%;
}

body {
    /*background-color: rgb(32, 32, 32);*/
    background-image: url(../imagens/background/thumb01.jpg);
    background-size: cover;
    background-position: right center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*Centralizando as informações na tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Organizando em colunas*/
    flex-direction: column;
}

.main-title {
    color: #428080;
}

.list-wrapper{
    background-color: rgb(254, 254, 254);
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

.list{
   list-style-type: none; 
   padding-left: 5px;
   margin: 0;
}

.list-item{
    /*Deixando os item alinhados lado a lado*/
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.list-item__imagem img{
    width: 80px;
    border-radius: 50%;
}

.list-item__content{
    padding: 0 20px;
    /*Mandando os espaços para a caixa*/
    flex-grow: 1;
}

.list-item__name{
    font-size: 24px;
    color: #428080;
    /*tirando os espaços do parágrafo*/
    margin: 0;
}

.list-item__email{
    margin: 5px 0 0;
    color: #aaa;
}

.list-item:hover{
    background-color: #e8e8e8;
}

.list-item__action{
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
    /*Escoder a imagem*/
    /*display: none;*/
}

/*"Ativa" a imagem quando o mouse passar por cima*/
.list-item:hover .list-item__action{
    opacity: 0.4;
}

